<h1>Leagues</h1>

<table>
  <tr>
    <th>League Name</th>
    <th></th>
    <th></th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= league.name %></td>
     
    <td><b>Created:</b> <%= time_ago_in_words(league.created_at) %> ago </td>
  <td><b>Updated:</b> <%= time_ago_in_words(league.updated_at) %> ago </td>
    <td><%= link_to 'Show', league %></td>
    <td><%= link_to 'Edit', edit_league_path(league) %></td>
    <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League', new_league_path %>