<% if user_signed_in? %>
<div class="containter-fluid">
  <div class="row-fluid" id="pageHeader">
    <div class="span12" style="height:750px; background-color:white; color:black; padding-top:20px; padding-left: 20px">
      <h1> <%= @league.name %> 
         </h1> 

        <% if @league.status == 'not_started' %>
         <% if current_user.teams.where(:league_id => @league.id).blank? %>
            <%= link_to 'Join this League', '/teams/new?league_id='  + @league.id.to_s, :class => 'btn btn-primary' %>
          <% else %>
            <div class="alert alert-success span4">
            <span style="color: green; font-size: 25pt;">✓</span> &nbsp;&nbsp;&nbsp;You are a member of this League
            </div>
          <% end %>
        <% end %>
       

           
            <% if ((current_user.id == @league.user_id) && (@league.status == 'not_started')) %>
              <div style="padding-top: 30px;">
                <%= form_tag drafts_path(@league) do %>
                  <%= submit_tag 'Start Draft', :class => 'btn btn-danger' %>(only you can start this)
              
                <% end %>
              </div>
            <% end %>

        <div class="span4">
        <% if current_user.id == @league.user_id %>
          <%= link_to("Configure League Rules", @league.id.to_s + '/edit', :class => 'btn btn-info') %>
         <% end %>
      </div>
          <p>&nbsp;</p>
         <p>&nbsp;</p>
        <div class="alert alert-info span4" style="float: left;">
          Commissioner: <%= @commiss.email %>
        <br>
        <% if @league.status == 'draft_completed' %>
        <span style="color: green"><strong>Statu<%= @league.name %> Draft is finished!</strong></span>
        
        <% else %>
        <% if @league.status == 'draft_started' %>
        <span style="color: green"><strong><%= @league.name %> Draft is in progress!</strong></span>
        <% end %>
        <% end %>
        </div>

      <table class="table table-striped">
        <tr>
          <th>Teams</th>
          <th>Actions</th>
          <th></th>
        </tr>

      <% @teams.each do |team| %>
        <tr>
          <td><%= link_to team.name, team %></td>
        
          <td>
            <% if current_user.id == team.user_id %>
            <% if @league.status == 'draft_started' %>


            <%= link_to 'Draft', players_path(params.merge(:league_id => @league.id, :team_id => team)), :class => 'btn btn-success' %>
          
            <% end %>
            <% end %>

          </td>
      <td>
        </tr>

      <% end %>
       <tr>
      

      </tr>

      </table>
      <td style="padding-top: 15px">  
      </td>
    </div>
  </div>
</div>
<% end %>