<% if user_signed_in? %>
<div class="containter-fluid">
  <div class="row-fluid" id="pageHeader">
    <div class="span12" style="height:750px; background-color:white; color:black; padding-top:20px; padding-left: 20px">
      <h1> <%= @league.name %> 
        League <%= link_to 'Join this League', '/teams/new?league_id='  + @league.id.to_s, :class => 'btn btn-primary' %></h1>

      <table class="table table-striped">
        <tr>
          <th>Teams</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

      <% @teams.each do |team| %>
        <tr>
          <td><%= team.name %></td>
           
          
          <td><%= link_to 'Show Picks', team %></td>
          <td><%= link_to 'Draft', players_path(params.merge(:league_id => @league.id, :team_id => team)), :class => 'btn btn-success' %></td>
      <td>
        </tr>

      <% end %>
       <tr>
      

      </tr>

      </table>
      <td style="padding-top: 15px">  
      </td>
    </div>
  </div>
</div>
<% end %>