<% if user_signed_in? %>
<h1> <%= @league.name %> 
  League</h1>

<table>
  <tr>
    <th>Teams</th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
     
    
    <td><%= link_to 'Show Picks', team %></td>
    <td><%= link_to 'Draft', players_path(params.merge(:league_id => @league.id, :team_id => team)) %></td>
<td>
  </tr>

<% end %>
 <tr>
<td style="padding-top: 15px">  
<%= link_to 'Join this League', '/teams/new?league_id='  + @league.id.to_s %></td>

</tr>

</table>

<% end %>