
<div style="background-image:url('http://yorkdale.com/wp-content/uploads/2012/11/James-Reimer-pic.jpg'); height: 600px; width: 1200px">
<div class="containter-fluid">
	<div class="row-fluid" id="pageHeader">
		<div class="span6" style="color:black; padding-left: 10px; background-color:#ffffff; border:1px grey; opacity:0.9; filter:alpha(opacity=90); position:fixed; z-index: 100;  top:40%;  left:20%;  margin:-100px 0 0 -100px;  width:400px;  height:370px;">
<h2>Already a member?</h2>



	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" , :class => 'btn btn-warning' %></div>
<% end %>

<%= render "devise/shared/links" %>

			</div>
		</div>
	</div>	
	</div>	
