<% if user_signed_in? %>
<div class="containter-fluid">
  <div class="row-fluid" id="pageHeader">
    <div class="span11" style="height:750px; background-color:white; color:black; padding-top:20px; padding-left: 50px">
        <h1><%= @team.name %> Draft</h1>

<p>&nbsp;</p>
<p>&nbsp;</p>


<%= link_to("Players", url_for(params.merge(:league_id => @league.id, :team_id => @team.id,  :position => 'all')), :class => 'btn btn-primary') %>
<%= link_to("Forwards", url_for(params.merge(:league_id => @league.id, :team_id => @team.id,  :position => 'F')), :class => 'btn btn-primary')%>
<%= link_to("Defensemen", url_for(params.merge(:league_id => @league.id, :team_id => @team.id,  :position => 'D')), :class => 'btn btn-primary')%>
<%= link_to("Goalies", url_for(params.merge(:league_id => @league.id, :team_id => @team.id,  :position => 'G')), :class => 'btn btn-primary')%><br><br>


        <table class="table table-striped">
          <tr>
            <% if params[:position]=='G'%>
            <th><b>Player</b></td>
            <th><b>Position</b></td>
            <th><b>Team</b> </th>
            <th><b>GP</b>&nbsp; </td>
            <th><b>W</b>&nbsp;&nbsp; </td>
            <th><b>L</b>&nbsp;&nbsp; </th>
            <th><b>OT</b>&nbsp;&nbsp; </th>
            <th><b>SO</b></th>
            
            <% else %>
            <th><b>Player</b></td>
            <th><b>Position</b></td>
            <th><b>Team</b> </th>
            <th><b>GP</b>&nbsp; </td>
            <th><b>G</b>&nbsp;&nbsp; </td>
            <th><b>A</b>&nbsp;&nbsp; </th>
            <th><b>P</b>&nbsp;&nbsp; </th>
            <th><b>GWG</b></th>
            <% end %>
            <th><b>Draft Result</b></th>
           
          </tr>

        <% @players.each do |player| %>
          <tr>
             <% if params[:position]=='G'%>
             <td><%= player.name %></td>
            <td><%= player.position %></td>
            <td><%= player.team %></td>
            <td><%= player.gp %></td>
            <td style = "background-color:#CDCDCD"><b><%= player.wins %></td>
            <td><%= player.losses %></td>
            <td><%= player.ot %></td>
            <td><%= player.shutouts %></td>
            <td>
             <% else %>
             <td><%= player.name %></td>
            <td><%= player.position %></td>
            <td><%= player.team %></td>
            <td><%= player.gp %></td>
            <td><%= player.goals %></td>
            <td><%= player.assists %></td>
            <td style = "background-color:#CDCDCD"><b><%= player.points %></b></td>
            <td><%= player.gwg %></td>
            <td>
             <% end %>

            <% if show_draftteam(player, @league.id) %>
                <%= show_draftteam2(player, @league.id) %>
               <% else %>
                  <% if @team.status == 'ready_to_pick' %>
                    <% if show_button(player, @league.id) %>
                        <%= link_to("Draft Player", '/picks/new?league_id='  + @league.id.to_s + '&team_id=' + @team.id.to_s + '&player_id=' + player.id.to_s, :class => 'btn btn-success') %>

                    <% end %>
                    <% else %>
                    Available, but not your turn
                  <% end %>

            <% end %></td>
            <!-- <td> 
              <% if @team.status == 'ready_to_pick' %>
              <% if show_button(player, @league.id) %>
                   <%= link_to("Draft Player", '/picks/new?league_id='  + @league.id.to_s + '&team_id=' + @team.id.to_s + '&player_id=' + player.id.to_s, :class => 'btn btn-success') %>
              <% end %>
              <% end %> </td> -->

          </tr>
        <% end %>
        </table>

        <br />
      </div>
  </div>
</div>
<% else %>
<%= render 'signinform' %>
<% end %>